@page "/"
@using BlazorSignalRBelgianCavesRegister.Client.Shared

<PageTitle>Index</PageTitle>

<h1>Hello everybody!</h1>



<h2>Welcome to the</h2>
<h1><strong>Register of Belgian Cavities</strong></h1>
<img src="~/css/Pictures/Spéléo1.jpg" alt="Concrétion Fontaine de Rivîre" />

@* <h5>Welcome to our new app.</h5> *@

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a></p> *@
</div>
