@page "/weatherforecast"
@using BlazorSignalRBelgianCavesRegister.Client.Models

<h3>Weather Forecast List</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Date</th>
        <th></th>
    </tr>
    @foreach (WeatherForecastModel wf in weatherForecastList)
    {
        <tr>
            <td>@wf.Date</td>
            <td><button class="btn btn-sm btn-outline-info" @onclick="() => ClickInfo(wf.WeatherForecast_Id)">Info</button></td>
        </tr>
    }
</table>

<hr />
@if (SelectedWeatherForecastId > 0)
{
    <WeatherForecastDetail id="SelectedWeatherForecastId"></WeatherForecastDetail>
}

<hr />

@* <WeatherForecastCreate></WeatherForecastCreate> *@

@code {

}
