<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BELGIAN CAVES REGISTER </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-plus" aria-hidden="true"></span> Chat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bibliography">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bibliography
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lambdadata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lambda Datas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nowner">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Owner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nperson">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Who is who
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scientificdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Scientific Datas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="site">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weatherforecast">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather Forecasts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cavequestionner">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Caves Questionner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="privacy">
                <span class="oi oi-home" aria-hidden="true"></span> Privacy Policy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Eventual Comments
            </NavLink>
        </div>
    </nav>
    <div class="conteneur">
        <div class="box">🐸 Élément 1</div>
        <div class="box">🦊 Élément 2</div>
        <div class="box">🦄 Élément 3</div>
        <div class="box">🐶 Élément 4</div>
        <div class="box">🐨 Élément 5</div>
        <div class="box">🐒 Élément 6</div>
        <div class="box">🦆 Élément 7</div>
        <div class="box">🐙 Élément 8</div>
        <div class="box">🐋 Élément 9</div>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
