<h3>NOwner Detail</h3>

@if (CurrentNOwner is not null)
{
    <p>Status : @CurrentNOwner.Status</p>
    <p>Agreement : @CurrentNOwner.Agreement</p>
    <p>Person Id : @CurrentNOwner.NPerson_Id</p>
    <p>Site Id : @CurrentNOwner.Site_Id</p>
}

@code {

}
