<h3>ScientificData Detail</h3>

@if (CurrentScientificData is not null)
{
    <p>Data Type : @CurrentScientificData.DataType</p>
    <p>Data Details : @CurrentScientificData.DetailsData</p>
    <p>Data Reference : @CurrentScientificData.ReferenceData</p>
}

@code {

}
