@page "/scientificdata"
@using BlazorSignalRBelgianCavesRegister.Client.Models

<h3>ScientificDatas List</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Data Type</th>
        <th></th>
    </tr>
    @foreach (ScientificDataModel sdm in ScientificDataList)
    {
        <tr>@sdm.DataType</tr>
        <tr><button class="btn btn-sm btn-outline-info" @onclick="() => ClickInfo(sdm.ScientificData_Id)">Info</button></tr>
    }
</table>

<hr />
@if(SelectedScientificId > 0)
{
    <ScientificDataDetail ScientificData_Id="SelectedScientificId"></ScientificDataDetail>
}
<hr />

@code {

}
