<h3>Question of @UserName - Question N° @QuestionNbr</h3>

<h4>@Question.Enonce</h4>

<button @onclick="() => Response(true)">True</button>
<button @onclick="() => Response(false)">False</button>

<h6></h6>

@code {

}
